<ion-view view-title="Hakkimizda">
  <ion-content>
      <div class="item item-body">
	    <img class="full-image" src="img/otel.jpg">
	    <p>
   Bu yazılım, toplumdaki engelli bireylerin yararlanması için hazırlanmıştır. Engelli bireylerin tatile çıkarken yaşadıkları zorluklar göz önünde bulundurularak, tatil öncesinde ve tatil süresince yaşadıkları sorunları minimize ederek kendilerine uygun otel seçim imkanı bu mobil yazılım aracılığı ile sunulmaktadı
   <br><br>
   Her şeyden önce bir sosyal sorumluluk projesi olarak tasarlanmıştır. Tatil süreci öncesinden tasarlanarak, bu süreç mobil ortama aktarılmış ve engelli bireylere bir kılavuz olma niteliğinde bir mobil ortam oluşturulmuştur.

	    </p>
	  </div>
  </ion-content>
</ion-view>
