<ion-view view-title="İletişim">
  <ion-content>
    <div class="list card">

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-home"></i>
	    İstanbul / Avcılar	
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-ios-telephone"></i>
	     0534 874 56 69
	  </a>

	  <a href="#" class="item item-icon-left">
	  	<i class="icon ion-email"></i>
	    tatilengel@gmail.com
	    
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-wifi"></i>
	    Konum'a ait Özellik
	  </a>

	  <a href="#" class="item item-icon-left">
	  	<i class="icon ion-clipboard"></i>
	    tatilengelyok.com
	  </a>

	</div>
  </ion-content>
</ion-view>
